*{
    margin: 10px;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:#111827;
    font-family:Arial, sans-serif;
}

.card{
    width: 450px;
    background: black;
    color: whitesmoke;
    border-radius:25px;
    padding:30px;
    text-align: center;
    box-shadow: 0 10px 30px white;
    padding: 30px;
    box-sizing: border-box;
}

.card img{
    width: 100%;
    border-radius: 15px;
    margin: 20px 0;
}

.details {
    margin: 20px 0;
}

.details p{
    margin: 10px 0;
    font: size 18px;
}

.button{
    display: inline block;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 14px 28px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(37,99,235,.5);
}

.button:hover{
    transform: translateY(-3px);

    box-shadow: 0 0 30px rgba(37,99,235,.9);
}
